﻿@model Elimination.Models.PlayerComparisonViewModel
@{
    ViewBag.Title = "Compare";
}

<h2>Player Comparison</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-container">
                <tbody>
                    <tr>
                        <th></th>
                        <th class="text-center">
                            <img id="profilePic" src="@Model.selfPlayer.PhotoUrl" height="250" width="250" />
                            <h2><a href="/Players/Details/@Model.selfPlayer.PlayerID">@Model.selfPlayer.UserName</a></h2>
                        </th>
                        <th class="text-center ">
                            <img id="profilePic" src="@Model.player2.PhotoUrl" height="250" width="250" />
                            <h2><a href="/Players/Details/@Model.player2.PlayerID">@Model.player2.UserName</a></h2>
                        </th>
                    </tr>
                    <tr>
                        <th>Level</th>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>Games Played</th>
                        <td>@Model.selfPlayer.Games.Count()</td>
                        <td>@Model.player2.Games.Count()</td>
                    </tr>
                    <tr>
                        <th>Games Won</th>
                        <td>@Model.selfPlayer.GamesWon.Count()</td>
                        <td>@Model.player2.GamesWon.Count()</td>
                    </tr>
                    <tr>
                        <th>Players Eliminated</th>
                        <td>@Model.selfPlayer.EliminationsEliminator.Count()</td>
                        <td>@Model.player2.EliminationsEliminator.Count()</td>
                    </tr>
                    <tr>
                        <th>Times Eliminated</th>
                        <td>@Model.selfPlayer.EliminationsEliminated.Count()</td>
                        <td>@Model.player2.EliminationsEliminated.Count()</td>
                    </tr>
                    <tr>
                        <th>Last Player Eliminated</th>
                        @if (Model.selfPlayer.EliminationsEliminated.LastOrDefault() != null)
                        {
                            <td>@Model.selfPlayer.EliminationsEliminated.LastOrDefault().EEliminated.UserName</td>
                        }
                        else
                        {
                            <td>You haven't eliminated anyone yet!</td>
                        }
                        @if (Model.player2.EliminationsEliminated.LastOrDefault() != null)
                        {
                            <td>@Model.player2.EliminationsEliminated.LastOrDefault().EEliminated.UserName</td>
                        }
                        else
                        {
                            <td>This player hasn't eliminated anyone yet!</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
