﻿@using System.Diagnostics
@model Elimination.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    var friendRequestCount = Model.player.FRRequestingPlayers?.Count() ?? 0;
    var playerId = Model.player.PlayerID;
}

<input id="dashboard-playerId" value="@playerId" class="invisible" />

<div class="container">
    <div class="row hover-board" style="margin-right: 0; margin-left: 0; margin-top: 0; margin-bottom: 40px;">
        <div class="col-md-6">
            <h2>Dashboard</h2>
        </div>
        <div class="col-md-6">
            <a href="#friend-request-list" data-toggle="modal" class="circleNotification" id="friendRequestNotif">
                Friend Requests <span class="badge" id="friendRequestBadge">@friendRequestCount</span>
            </a>
        </div>
    </div>
    <hr />
    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div id="dashboard-username" class="col-md-3 text-center">
            <p></p>
            <img id="profilePic" src="@Html.DisplayFor(model => model.player.PhotoUrl)" height="250" width="250" href="../Players/Edit" />
            <h2 class="text-center">@Html.DisplayFor(model => model.player.UserName)</h2>
            <table id="quickStats-table" class="table">
                <tbody>
                    <tr>
                        <th>Level</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>Players Eliminated</th>
                        <td>@Html.DisplayFor(model => model.targetsEliminated)</td>
                    </tr>
                    <tr>
                        <th>Games Played</th>
                        <td>@Html.DisplayFor(model => model.gamesPlayed)</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-right: 0; margin-left: 0;">
                @*Join a game*@
                <div id="dashboard-new-game" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="/Games"><img id="gamesPic" src="~/Images/ninja-red-black.png" height="100" width="100" /></a>
                    <h4 class="text-center">Join a Game</h4>
                </div>                
                @*UploadFaces*@
                <div id="dashboard-faces" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="~/Dashboard/UploadFaces"><img id="gamesPic" src="~/Images/photo.png" height="100" width="100" /></a>
                    <h4 class="text-center">Upload Faces</h4>
                </div>
                @*Create Game*@
                <div id="dashboard-create-games" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="~/Games/Create"><img id="skillsPic" src="~/Images/skills.png" height="100" width="100" /></a>
                    <h4 class="text-center">Create Game</h4>
                </div>
                @*Find Players*@
                <div id="dashboard-players" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="../Players">
                        <img id="playersPic" src="~/Images/spy-red-black.png" height="100" width="100" />
                    </a>
                    <h4 class="text-center">Find Players</h4>
                </div>
                @*Past Games*@
                <div id="dashboard-games" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="~/Dashboard/PastGames"><img id="gamesPic" src="~/Images/games.png" height="100" width="100" /></a>
                    <h4 class="text-center">Past Games</h4>
                </div>
                @*Eliminations*@
                <div id="dashboard-stats" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="/Games/Eliminations"><img id="statsPic" src="~/Images/zombie-red-black.png" height="100" width="100" /></a>
                    <h4 class="text-center">Eliminations</h4>
                </div>
                @*Badges*@
                <div id="dashboard-stats" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="/Dashboard/Badges/"><img id="statsPic" src="~/Images/Badges/Elimination-Badges/first-elimination.png" height="100" width="100" /></a>
                    <h4 class="text-center">Badges</h4>
                </div>
                @*Statistics*@
                <div id="dashboard-stats" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="/Dashboard/Stats/@Html.DisplayFor(model => model.player.PlayerID)"><img id="statsPic" src="~/Images/stats.png" height="100" width="100" /></a>
                    <h4 class="text-center">Stats</h4>
                </div>
                @*Edit Profile/Settings*@
                <div id="dashboard-Profile" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="~/Players/Edit/@Html.DisplayFor(model => model.player.PlayerID)"><img id="proPic" src="~/Images/edit-profile.png" height="100" width="100" /></a>
                    <h4 class="text-center">Edit Profile</h4>
                </div>
            </div>
        </div>
    </div>
    <!--Current Game display stuff-->
    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div id="dashboard-games" class="col-md-12">
            <!--this is the player's current target's targetCode.
            Obviously, we shouldn't display it on the live,
            but for testing purposes this is much easier.-->
            @*<p class="text-right">
                    @Html.DisplayFor(model => model.mostRecentGame.PlayersLists.FirstOrDefault(pl => pl.Player == model.mostRecentGame.Targets.FirstOrDefault(t => t.Player == model.player.PlayerID).TargetPlayer).TargetCode)
                </p>*@
            <hr />
        </div>
    </div>

    <div class="row" style="margin-right: 0; margin-left: 0;">
        <!------------------The Game Table-------------------------->
        @if (Model.mostRecentGame != null)
        {
            <div class="col-md-6">
                <table class="table table-container" style="height: 290px;">
                    <tr>
                        <th class="text-center" colspan="2">
                            <a name="recentGame" href="@Url.Action("Details", "Games", new {id = Html.DisplayFor(model => model.mostRecentGame.GameID)})">
                                <h3>@Html.DisplayFor(model => model.mostRecentGame.Name)</h3>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        @if (Model.mostRecentGame.Active == false)
                        {
                            <th>
                                The game begins on...
                            </th>
                            <td>
                                @Model.mostRecentGame.StartDate.Date.ToShortDateString()
                            </td>
                        }
                        else if (Model.mostRecentGame.Active == true && Model.mostRecentGame.Winner == null)
                        {
                            <th>
                                The game has begun!
                            </th>
                            <td></td>
                        }
                        else
                        {
                            <th>This game is over.</th>
                            <td></td>
                        }
                    </tr>
                    <tr>
                        @if (Model.mostRecentGame.Winner != null)
                        {
                            <th>
                                Winner
                            </th>
                            <td>
                                @Model.mostRecentGame.Players.FirstOrDefault(p => p.PlayerID == Model.mostRecentGame.Winner).UserName
                            </td>
                        }
                        else
                        {
                            <th>And ends on...</th>
                            <td>
                                @Model.mostRecentGame.EndDate
                            </td>
                        }
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.mostRecentGame.Location)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.mostRecentGame.Location)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" data-toggle="tooltip" title="@Html.DisplayFor(model => model.mostRecentGame.PlayersLists.FirstOrDefault(pl => pl.PlayerID == model.player.PlayerID).TargetCode)
">Hover over to see your code.</th>
                    </tr>
                </table>
            </div>

            <!------------------Target Table------------------------------>
            <div class="col-md-6">
                <table class="table table-container" style="height: 290px;">
                    @if (Model.mostRecentGame.Targets.FirstOrDefault(t => t.Player == Model.player.PlayerID) != null)
                    {
                        var target = Model.mostRecentGame.Targets.FirstOrDefault(t => t.Player == Model.player.PlayerID);

                        <tr>
                            <th id="target-name-th" class="text-center" colspan="4">
                                <h3>Current Target: @target.TargetPlayer.UserName</h3>
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="2" class="text-center">
                                <a name="recentGame" href="@Url.Action("Details", "Players", new {id = Model.mostRecentGame.Targets.LastOrDefault(t => t.Player == Model.player.PlayerID).TargetPlayer.PlayerID})">
                                    <img id="targetPic"
                                         src="@Html.DisplayFor(model => model.mostRecentGame.Targets.FirstOrDefault(t => t.Player == model.player.PlayerID).TargetPlayer.PhotoUrl)"
                                         height="150" width="150" />
                                </a>
                            </th>
                            <td id="manual-elim-td">
                                <button class="sm-btn btn btn-default" id="manual-elimination-buton" data-toggle="modal" data-target="#ManualElim">Manual Elimination</button>
                            </td>
                        </tr>
                        <tr>
                            <td id="photo-elim-td">
                                <button class="sm-btn btn btn-default" onclick="location.href = '@Url.Action("ImageElimination", "Games", new {gameId = Model.mostRecentGame.GameID, targetId = Model.mostRecentGame.Targets.FirstOrDefault(t => t.Player == Model.player.PlayerID).TargetID})'">
                                    Photo Elimination
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td id="elim-confirm-td" class="text-center" colspan="3">
                                <h3>@TempData["eliminationConfirmation"]</h3>
                            </td>
                        </tr>
                    }
                    else if (Model.mostRecentGame.Winner == Model.player.PlayerID)
                    {
                        <tr>
                            <th>
                                <h1>You won!</h1>Good for you.
                            </th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th>You don't have a target yet! The game hasn't started or you're the only player. Haha.</th>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <p>You aren't playing a game. Go <a href="/Games/">find one!</a></p>
        }
    </div>
    <hr />
    <!--Hosted Game display stuff-->
    <div class="row">
        @if (Model.hostedGames.FirstOrDefault() != null)
        {
            <div class="row">
                <div id="dashboard-games" class="col-md-12 hover-board" style="margin-bottom: 30px; width: 97%; margin-left: 15px;">
                    <h3 style="margin-left: 43%; padding-bottom: 10px;">Hosted Games</h3>
                </div>
            </div>
            <table class="table table-container">

                @foreach (var item in Model.hostedGames)
                {
                    <tr>
                        <td>
                            <h4>
                                <a href="@Url.Action("HostDetails", "Games", new {id = item.GameID})">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </h4>
                        </td>
                        <td>
                            <h4>@Html.DisplayFor(modelItem => item.StartDate.Date)</h4>
                        </td>
                        <td>
                            <h4>@Html.DisplayFor(modelItem => item.EndDate)</h4>
                        </td>
                        <td>
                            <h4>@Html.DisplayFor(modelItem => item.Location)</h4>
                        </td>
                        <td>
                            @if (!item.Active)
                            {
                                <h4>
                                    @Html.ActionLink("Start Game", "StartGame", "Games", new { id = item.GameID, comingFromDashboard = true }, new { })
                                    <text>|</text>
                                    @Html.ActionLink("Edit", "Edit", "Games", new { id = item.GameID }, new { })
                                    <text>|</text>
                                    @Html.ActionLink("Delete", "Delete", "Games", new { id = item.GameID }, new { })
                                </h4>
                            }
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>You aren't hosting any games. Go <a href="/Games/Create/">create one!</a></p>
        }
    </div>
    <!-- Modal HTML -->
    <div id="friend-request-list" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Friend Requests</h4>
                </div>
                <div class="modal-body">
                    <table class="list-table">
                        <tr>
                            <th>
                                <h4 style="margin-left: 20px;">UserName</h4>
                            </th>
                            <th>
                                <h4>Action</h4>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <!--The list of requesting players goes here-->
                                <div class="vertical-menu" id="friend-request-menu">
                                    @{
                                        var i = 0;
                                    }

                                    @{
                                        Debug.Assert(Model.player.FRRequestingPlayers != null, "Model.player.FRRequestingPlayers != null");
                                    }
                                    @foreach (var item in Model.player.FRRequestingPlayers)
                                    {
                                        i++;
                                        <div id="div_@item.PlayerID">
                                            <div class="row" style="width: 515px; margin-left: 0px; margin-right: 0px;">
                                                <div class="col-md-6">
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="sm-btn btn btn-default" value="@item.PlayerID" onclick="acceptFriendRequest(@Model.player.PlayerID, @item.PlayerID)">Accept</button>
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="sm-btn btn btn-default" value="@item.PlayerID" onclick="rejectFriendRequest(@Model.player.PlayerID, @item.PlayerID)">Reject</button>
                                                </div>
                                            </div>
                                            @if (i < friendRequestCount)
                                            {
                                                <hr class="list-hr-line" />
                                            }
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!--Modal for manually entering your target's code-->
    @if (Model.mostRecentGame != null && Model.mostRecentGame.Targets.FirstOrDefault(t => t.Player == Model.player.PlayerID) != null)
    {
        <div id="ManualElim" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div id="manual-modal-content" class="modal-content">
                    <div id="manual-modal-header" class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title">Enter your Target's Code</h5>
                    </div>
                    @using (Html.BeginForm("EliminatePlayer", "Games", FormMethod.Post))
                    {
                        <div class="modal-body">
                            @Html.TextBoxFor(model => Model.targetCode, new { placeholder = "0000" })
                            @Html.ValidationMessageFor(model => Model.targetCode)
                            @Html.Hidden("targetID", Model.mostRecentGame.Targets.FirstOrDefault(t => t.Player == Model.player.PlayerID).TargetPlayer.PlayerID, new { @id = "targetID" })
                            @Html.HiddenFor(m => Model.gameID)
                        </div>
                        <div id="manual-modal-footer" class="modal-footer">
                            <input id="redirect" data-val="true" name="redirect" value="../Dashboard/Index/" type="hidden" />
                            <input class="sm-btn btn btn-default" type="submit" value="Manual Elimination" data-toggle="modal" data-target="" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    @*This is the notification stuff*@
    @*<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">
            <button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>
            <span data-notify="icon"></span>
            <span data-notify="title">{1}</span>
            <span data-notify="message">{2}</span>
            <div class="progress" data-notify="progressbar">
                <div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            </div>
            <a href="{3}" target="{4}" data-notify="url"></a>
        </div>*@

@section scripts
{
    @Scripts.Render("~/bundles/friendRequests")
    @Scripts.Render("~/bundles/dashboard")
}
