﻿@{
    ViewBag.Title = "UploadFaces";
}

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 style="text-align: center;">Upload Three Images of Your Face</h2>
</div>

<style>

    .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 250px;
        height: 250px;
    }

    .cropit-preview-image-container {
        cursor: move;
    }

    .image-size-label {
        margin-top: 10px;
    }

    input {
        display: block;
    }

    button[type="submit"] {
        margin-top: 10px;
    }

    #result {
        margin-top: 10px;
        width: 900px;
    }

    #result-data {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
</style>

<form action="/Dashboard/UploadFaces" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="image-editor">
                <input type="file" class="cropit-image-input">
                <div class="cropit-preview"></div>
                <div class="image-size-label">
                    Resize image
                </div>
                <input type="range" class="cropit-image-zoom-input">
                <input type="hidden" name="image_data_1" class="hidden-image-data" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-editor">
                <input type="file" class="cropit-image-input">
                <div class="cropit-preview"></div>
                <div class="image-size-label">
                    Resize image
                </div>
                <input type="range" class="cropit-image-zoom-input">
                <input type="hidden" name="image_data_2" class="hidden-image-data" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-editor">
                <input type="file" class="cropit-image-input">
                <div class="cropit-preview"></div>
                <div class="image-size-label">
                    Resize image
                </div>
                <input type="range" class="cropit-image-zoom-input">
                <input type="hidden" name="image_data_3" class="hidden-image-data" />
            </div>
        </div>
    </div>



    <button class="btn btn-default" type="submit" id="form-submit" disabled>Submit</button>
</form>
<button class="btn btn-default" id="check">Check</button>
<div id="facestatus"></div>

@section Scripts {

    @Scripts.Render("~/Scripts/jquery.cropit.js")

    <script>
        $(function () {
            $('.image-editor').cropit();

            //$('form').submit(function () {

            // Prevent the form from actually submitting
            //return true;
            //});

            $('#check').click(function () {
                var successes = 0;
                var fails = 0;

                $('#facestatus')[0].innerHTML = "Checking images...";

                for (var i = 0; i < 3; i++) {

                    var imageData = $($('.image-editor')[i]).cropit('export').replace('data:image/png;base64,', '');
                    $('.hidden-image-data')[i].value = imageData;

                    if (imageData != null) {
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            url: "../Games/IsFaceAJAX",
                            data: JSON.stringify({ img: imageData }),
                            contentType: 'application/json; charset=utf-8',
                            async: true,
                            processData: false
                        }).done(function (data) {
                            var face = JSON.parse(data);
                            if (face.isFace) {
                                successes++;
                            } else {
                                fails++;
                            }

                            if (successes == 3) {
                                $('#facestatus')[0].innerHTML = "All images are faces!";
                                $('#form-submit')[0].disabled = false;
                            }
                            if (fails > 0) {
                                $('#facestatus')[0].innerHTML = "One or more images is not a face. Please upload your face!";
                                $('#form-submit')[0].disabled = true;
                            }
                        });
                    }
                }
            });
        });
    </script>
}