﻿@model Elimination.Models.Game

@{
    ViewBag.Title = "Details";
}

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 style="text-align: center;">@Html.DisplayFor(model => model.Name)</h2>
</div>

<h4 style="clear:left;">
    @Html.ActionLink("Back to List", "Index")
</h4>

<div class="column">
    <div>
        <dl class="dl-horizontal">
            <dt>
                Host
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Player.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>


            @if (Model.Winner != null)
            {
                <dt>
                    Winner
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WinnerObj.UserName)
                </dd>
            }
        </dl>
    </div>

    @if (Model.Winner == null && Model.Active == false && !ViewBag.Player.Equals("Host"))
    {
        if (ViewBag.Player.Equals("AlreadyJoined"))
        {
            <button class="btn btn-default" onclick="if(confirm('Are you sure?')){location.href='@Url.Action("RemovePlayer", "Games", new { gameID = Model.GameID, playerID = ViewBag.playerID })'}">Leave Game</button>
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="JOIN" class="btn btn-default" id="join" />
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div>This game is not joinable by you at this moment.</div>
    }

</div>

<!---//////////////////////////////////////////////////////////////////-->
<div class="column">
    <h4>Joined Players</h4>
    <div>
        @foreach (var player in Model.Players)
        {
            if (player.EliminationsEliminated.Where(x => x.GameID.Equals(Model.GameID)).ToList().Count() > 0)
            {
                //Grayout Photo if Eliminated
                <div id="filter" style="float:left"> <img id="profilePic" src="@Html.DisplayFor(playr => player.PhotoUrl)" class="image-grey" height="80" width="80" /> <br /></div>
            }
            else
            {
                <div style="float:left"> <img id="profilePic" src="@Html.DisplayFor(playr => player.PhotoUrl)" class="image-grey" height="80" width="80" /> <br /><h6>@player.UserName</h6><br /></div>
            }
        }
    </div>
</div>

@if (Model.Winner != null)
{
    <table class="table table-container">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Eliminator
            </th>
            <th></th>
            <th>
                Eliminated
            </th>
            <th>
                Timestamp
            </th>
        </tr>

        @foreach (var item in Model.Eliminations)
        {
            <tr class="clickable-row" data-href="@Url.Action("Elimination", "Games", new { id = item.EliminationID })">
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td @if (item.EEliminator.PlayerID == ViewBag.playerID) { @: style="color: #33dd33"
                    }>
                    @Html.DisplayFor(modelItem => item.EEliminator.UserName)
                </td>
                <td></td>
                <td @if (item.EEliminated.PlayerID == ViewBag.playerID) { @: style="color: #dd3333"
                    }>
                    @Html.DisplayFor(modelItem => item.EEliminated.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
            </tr>
        }
    </table>
}


<style>
    #filter {
        filter: grayscale(80%);
    }

    .column {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
