﻿@model Elimination.Models.Elimination

@{
    ViewBag.Title = "Elimination";
}

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 style="text-align: center;">Elimination</h2>
</div>

<div>
    <hr />
    <h3>Game: @Html.DisplayFor(model => model.Game.Name)</h3>

    <div class="row">
        <div class="col-md-6">
            Eliminator: @Html.DisplayFor(model => model.EEliminator.UserName)
            <br />
            <img src="@Model.EEliminator.PhotoUrl" alt="Missing Profile Picture" />
        </div>
        <div class="col-md-6">
            Eliminated: @Html.DisplayFor(model => model.EEliminated.UserName)
            <br />
            <img src="@Model.EEliminated.PhotoUrl" alt="Missing Profile Picture" />
        </div>
    </div>
    <br />
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationCenterLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCenterLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocatoinCenterLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocatoinCenterLat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Eliminations", "Games")
</p>
