﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.titlepage {
    font-size: 48pt;
    text-align: center;
    margin: 1em;
}

.titlebar {
    font-size: 40pt;
    text-align: center;
    margin: 0.5em;
}

.contentbody {
    border-radius: 1em;
    background-color: #DFEFF5;
    padding: 2em;
    font-size: 18pt;
}

.navbar {
    background-color: #005989;
    color: #A3BAC3;
}

    ul.nav.navbar-nav li > a {
        color: #A3BAC3;
    }

.navbar-header a.navbar-brand {
    color: #A3BAC3;
}

.addbutton {
    text-align: center;
}

    .addbutton a {
        padding: 10px;
        font-size: 14pt;
        background-color: #428bca;
        border-color: #357ebd;
        border: 1px solid transparent;
        border-radius: 4px;
        color: white;
    }

    .addbutton a:hover {
        background-color: #226baa;
    }

form .form-horizontal {
    padding: 2em;
    padding-left: 5em;
    border-radius: 1em;
    background-color: #DFEFF5;
    width: 50%;
    margin-left: 25%;
}